<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p class="text-gray-900">Welcome to <%= title %>
    </p>
    <table class="bg-black text-gray-900 border-separate w-full shadow-md">
        <thead>
            <tr>
                <th class="bg-blue-700 text-white p-2 w-14">No</th>
                <th class="bg-blue-700 text-white p-2 w-auto">name</th>
                <th class="bg-blue-700 text-white p-2 w-auto">email</th>
                <th class="bg-blue-700 text-white p-2 w-auto">phone</th>
                <th class="bg-blue-700 text-white p-2 w-auto">password</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-blue-100 text-blue-900">
                <td class="p-2">...</td>
                <td class="p-2">...</td>
                <td class="p-2">...</td>
                <td class="p-2">...</td>
                <td class="p-2">...</td>
            </tr>
            <tr class="bg-blue-200 text-blue-900">
                <td class="p-2">...</td>
                <td class="p-2">...</td>
                <td class="p-2">...</td>
                <td class="p-2">...</td>
                <td class="p-2">...</td>
            </tr>
            <tr class="bg-blue-100 text-blue-900">
                <td class="p-2">...</td>
                <td class="p-2">...</td>
                <td class="p-2">...</td>
                <td class="p-2">...</td>
                <td class="p-2">...</td>
            </tr>
        </tbody>
    </table>
</body>

</html>